.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand img {
    height: 50px;
    margin-top: -15px;
}

nav li {
    font-family: Hammersmith One;
    text-transform: uppercase;
}

#intro {
    background-color: #18BC9C;
    color: #FFFFFF;
    font-family: Montserrat;
    padding: 100px 0;
    text-align: center;
    text-transform: uppercase;
}

#intro img {
    margin: 0 auto 50px;
}

#intro-title {
    font-size: 3.5em;
    font-weight: 900;
}

#intro-text {
    font-size: 2em;
}

.info {
    color: #2C3E50;
    font-family: Montserrat;
    padding: 65px 0;
}

.info-title {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.info-text {
    font-size: 1.5em;
}

.line-light {
    border-top: #FFFFFF solid 5px;
    margin: 25px auto;
    max-width: 350px;
}

.line-dark {
    border-top: #2C3E50 solid 5px;
    margin: 25px auto;
    max-width: 350px;
}

.navbar-space {
    margin: 20px;
}

textarea {
    resize: none;
}

.search-container {
    margin-bottom: 60px;
}